ul {
    padding: 0;
    list-style-type: none;
    font-size: 20px;
}
input[type="search"]
{
    font-size:20px;
}
button{
    border-radius: 17px;
    background-color: #23463f;
    color: white;
    padding: 7px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
}
.Assignments {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.Assignments td, #customers th {
    border: 2px solid #ddd;
    padding: 8px;
}

.Assignments tr:nth-child(even){
    background-color:#f2f2f2;

}

.Assignments tr:hover {background-color: #ddd}

.Assignments th {
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
    background-color: #23463f;
    color: white;
}
#search{
    border: 3px solid #00B4CC;
    padding: 5px;

    border-radius: 5px 5px 5px 5px;
    outline: none;
    color: #9DBFAF;
    width: 200px;

}
#search:focus{
    color: #00B4CC;
}

.info{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 25px;
    color: #000000;
    margin: auto;
    display: block;
}

p b{
    font-size: 20px;
}
@media screen and (max-width: 767px) {
    button {
        width:auto;
    }
    img{
        width: 100%;
        height: auto;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    * {
        width:max-content;

    }
    button {
        width:auto;
    }

}