body
{
    margin: 0;
    padding: 0;
    background-color: #23463f;

}
.login{
    width: 382px;
    overflow: hidden;
    margin: auto;
    padding: 30px;

    border-radius: 15px ;

}
h2{
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 50px;
}
label{
    color: whitesmoke;
    font-size: 17px;

}
#email{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#pwd{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}


input[type=submit]{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;

    color: white;

}
p{
    color:white;
}