.nav {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.nav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbutton {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.nav a:hover, .dropdown:hover .dropbutton {
    background-color: #23463f;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
input {
    font-size: 15px;
}
button:not(.dropbutton){
    border-radius: 17px;
    background-color: #23463f;
    color: white;
    padding: 7px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
}
@media screen and (max-width: 360px) {
    button:not(.dropbutton) {
        width:auto;
    }

}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    * {
        width:auto;

    }
    button:not(.dropbutton) {
        width:auto;
    }

}
