<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui">
    <title>Admin</title>
    <link rel="stylesheet" href="/CSS/adminview1.css">
</head>
<body>
<div class="logout" id="logoutbtn">
    <button type="button" >Logout</button>
</div>

<p>Students/s<p>
<div class="Students">
  <% if(student!=null) {%>
  <p><%=student.id%></p>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Courses</th>
        </tr>
       <% student.forEach(function(student){ %> 
        <tr>
            <td><%= student.id %></td>
            <td><%= student.firstname%></a></td>
            <td>Math 101 <br><br>
                Math 102
            </td>
        </tr>
        
        <% }) %>
    </table>
    <% } %>
</div>

<script>
    document.getElementById("logoutbtn").onclick = function () {
        location.href = "/";
    };
    
</script>
</body>
</html>