<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui">
    <title>Student Page</title>
    <link rel="stylesheet" href="/CSS/studentview1.css">
   
</head>
<body>
<% if(user!=null) {%>
  <p><%=user.firstname%></p>
  <% } %>
<div class="courseview">
    <div class="logout" id="loButton">
        <button type="button" > Logout</button>
    </div>
    <div class="home">
        <div class="Logo">
            <img  alt="logo" src="html.html/Logo.jpeg" width="700" height="300">
        </div>
        <div class="info">
            <p>This is the Kings College student page.</p>
            <!-- student info  -->
        </div>
       
        <div class="classsearch">
            <!-- class search  -->
            <p>Search for classes by entering the id, class name, or instructor.</p>

   
       <form action="/croster" method="POST" style="border:1px solid #ccc">
        <input class="bar" type="text" placeholder="Search" name="res">
        <button><i class="search"></i></button>
        <label for="id"><b>ID</b></label>
        <input type="number" placeholder="Enter ID" id="id" name="id" required>
        <input type="submit" value="Submit" >
        </form>
        </div>
        <div class="searchresult">
            <!-- search results -->
            <ul>
                <li><a href="html.html/StudentCurrentCourseView.html">Math 123</a></li>
                <li><a href="html.html/StudentCurrentCourseView.html">Math 101</a></li>
            </ul>

        </div>
        
    </div>
</form>
<div class="Assignments">

    <p><b>Due Soon:</b></p>
    <table>
        <tr>
            <th>Assignment</th>
            <th>Course</th>
            <th>Due</th>
        </tr>
        <tr>
            <td><a href="html.html/StudentCurrentCourseView.html">Assignment 1</a></td>
            <td>Math 123 </td>
            <td>Oct 27</td>
        </tr>
        <tr>
            <td><a href="html.html/StudentCurrentCourseView.html">Assignment 2</a></td>
            <td>Math 101</td>
            <td>Nov 1</td>
        </tr>
    </table>

    <script >
    document.getElementById("loButton").onclick = function () {
    location.href = "/";
    };
    document.getElementById("add").onclick = function () {
    location.href = "/studentEnroll";
    };
    </script>
</div>
</body>
</html>